<%- model_class = Spin -%>
<div class="page-header">
  <h1>Spin ID: <%= @spin.id %> </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:off_time) %>:</strong></dt>
  <dd><%= @spin.off_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:result_time) %>:</strong></dt>
  <dd><%= @spin.result_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:result) %>:</strong></dt>
  <dd><%= @spin.result %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_id) %>:</strong></dt>
  <dd><%= @spin.location_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @spin.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:session_id) %>:</strong></dt>
  <dd><%= @spin.session_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              spins_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_spin_path(@spin), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              spin_path(@spin),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger'%>
</div>
